In [1]:
import pandas as pd
import os
filename1 = './corona/april_sentiment_date_sorted_merged.csv'

In [2]:
subsets = [filename1]
print("List of csv: {}\n".format(subsets))

for file_name in subsets:
    print("\nProcessing '{}'".format(file_name))
    df = pd.read_csv(file_name, encoding='utf8', dtype=str,error_bad_lines=False,engine='python')
    
    out_file_name = "combined_dates.csv"
    if not os.path.exists(out_file_name):
        df.to_csv(out_file_name, mode='w', header=True, index=False, encoding='utf-8')
    else:
        df.to_csv(out_file_name, mode='a', header=False, index=False, encoding='utf-8')

List of csv: ['./corona/april_sentiment_date_sorted_merged.csv']


Processing './corona/april_sentiment_date_sorted_merged.csv'

In [3]:
df = pd.read_csv(out_file_name, encoding='utf8', dtype=str,error_bad_lines=False,engine='python')
df

,date,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
0,2020-02-07,641,1077,449,1234,655,832,508,1381,1746
1,2020-02-08,6112,7947,4278,10571,3726,7294,4012,8500,18566
2,2020-02-09,5512,7199,3856,9204,3255,6561,3722,7400,14308
3,2020-02-10,7045,10210,4446,12621,4262,8109,4198,10446,22358
4,2020-02-11,10630,12857,7501,17934,5526,13285,6340,14210,28462
...,...,...,...,...,...,...,...,...,...,...
73,2020-04-27,14780,22589,10306,24502,12089,18291,10100,26707,42004
74,2020-04-28,9096,13660,6160,15801,7545,10646,6170,15996,24718
75,2020-04-29,23856,33633,12855,38179,19541,25148,16966,39065,57604
76,2020-04-30,23603,33932,14271,38292,19941,27040,14781,39859,56031
77,2020-05-01,23332,32270,11988,37366,20462,26356,13798,38924,57161

In [4]:
df = df[df['anger'] != '0']

In [5]:
df

,date,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
0,2020-02-07,641,1077,449,1234,655,832,508,1381,1746
1,2020-02-08,6112,7947,4278,10571,3726,7294,4012,8500,18566
2,2020-02-09,5512,7199,3856,9204,3255,6561,3722,7400,14308
3,2020-02-10,7045,10210,4446,12621,4262,8109,4198,10446,22358
4,2020-02-11,10630,12857,7501,17934,5526,13285,6340,14210,28462
...,...,...,...,...,...,...,...,...,...,...
73,2020-04-27,14780,22589,10306,24502,12089,18291,10100,26707,42004
74,2020-04-28,9096,13660,6160,15801,7545,10646,6170,15996,24718
75,2020-04-29,23856,33633,12855,38179,19541,25148,16966,39065,57604
76,2020-04-30,23603,33932,14271,38292,19941,27040,14781,39859,56031
77,2020-05-01,23332,32270,11988,37366,20462,26356,13798,38924,57161

In [6]:
df.to_csv(out_file_name, mode='w', header=True, index=False, encoding='utf-8')