In [1]:
import pandas as pd
from glob import glob
import os

In [2]:
with open('lexicon.txt', 'r') as f:
    x = f.read().splitlines()
    
x = list(map(lambda x:x.lower(),x))

In [3]:
# filename = './corona/out_131_sentiment.csv'
# df = pd.read_csv(filename, encoding='utf8', dtype=str, escapechar='\\',error_bad_lines=False,engine='python')
# df2 = df[['date','text']]
# df2

In [4]:
def check(text):
    text = str(text)
    text = text.lower()
    for i in x:
        if(text.find(i) != -1):
            return True
    return False

# df['relevant'] = df['text'].apply(check)

# df = df[df['relevant'] == True]
# df

In [5]:
# subsets = [file for file in glob('./corona/out_*_sentiment.csv'.format())]
file1 = 'new_combined_sentiment.csv'
file2 = 'combined_with_original_tweet_sentiment.csv'
subsets = [file1,file2]
subsets = sorted(subsets)
print("List of csv: {}\n".format(subsets))
print(len(subsets))

List of csv: ['combined_with_original_tweet_sentiment.csv', 'new_combined_sentiment.csv']

2

In [6]:
for filename in subsets:
    df = pd.read_csv(filename, encoding='utf8', dtype=str, escapechar='\\',error_bad_lines=False,engine='python')
    df['relevant'] = df['text'].apply(check)
    df = df[df['relevant'] == True]
    out_file_name = '23_sentiment_date.csv'
    if not os.path.exists(out_file_name):
        df.to_csv(out_file_name, mode='w', header=True, index=False, encoding='utf-8')
    else:
        df.to_csv(out_file_name, mode='a', header=False, index=False, encoding='utf-8')

In [12]:
filename = out_file_name
df = pd.read_csv(filename, encoding='utf8', dtype=str, escapechar='\\',error_bad_lines=False,engine='python')

In [13]:
df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral,relevant
0,2020-02-26 01:00:54,MemesOnLifeDAI1,im legit shocked lemme get 100 likes for coron...,1,0,0,1,0,1,0,0,0,True
1,2020-02-09 00:53:43,teslachick,time period would yield much higher numbers ...,1,1,1,1,1,1,0,1,0,True
2,2020-03-01 09:11:15,DrThomasPaul,The may be the great equalizer meaning most...,0,1,0,0,1,0,0,1,0,True
3,2020-03-02 14:42:03,CampaignMedia,OMD and PHD reopen after coronavirus scare,1,1,0,1,0,0,1,0,0,True
4,2020-03-01 01:00:11,Tours_By_Locals,We understand that uncertainty surrounding the...,0,0,0,1,0,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260302,2020-03-20 18:08:21,Ayaz_US,For Live Status click on below link,0,0,0,0,0,0,0,0,1,True
3260303,2020-03-27 20:17:01,A_Alalwey,The Yemeni people are in solidarity with commu...,0,1,0,1,1,0,0,1,0,True
3260304,2020-03-14 01:54:57,jeevanwashere,Never gonna happen but could you imagine if th...,1,1,0,0,1,0,0,1,0,True
3260305,2020-03-22 20:57:31,cassidiah,If covid-19 doesn't kill me moving back in wi...,0,0,0,1,0,1,0,0,0,True
3260306,2020-03-21 10:54:53,_mattyhall,Not sure how anyone could read this and contin...,0,1,0,1,0,0,0,1,0,True

In [14]:
drop = df[pd.isnull(df['date']) == True]

In [15]:
df = df.drop(drop.index)

In [16]:
arr = ['date','anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']
df = df.sort_values('date')
df.to_csv('23_sentiment_date_sorted.csv', mode='w', header=True, index=False, encoding='utf-8')
df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral,relevant
2634919,It's not that we'll mistake them for the trut...,NaN,Chernobyl;covid19,0,0,0,0,0,0,0,0,1,True
1000500,2020-02-07 06:13:29,hongkonghappyL,Dean of Medicine Gabriel Leung agreed with T...,0,0,0,0,0,0,0,1,0,True
370550,2020-02-07 06:13:30,Shin__JH,The wuhan government did not take the virus s...,0,0,0,1,0,0,0,0,0,True
914999,2020-02-07 06:13:32,ntemid,Please if you know any Members of Parliament...,0,0,0,0,0,0,0,0,1,True
400053,2020-02-07 06:13:42,DeceitinDrugs,Under quarantine: what life will be like at C...,0,0,0,0,0,0,0,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710342,2020-03-28 06:58:36,RISENOIDA,Immediate need to send these people to the...,0,0,0,0,0,0,0,0,0,True
2670026,2020-03-28 06:58:36,AshabaEmmanuelJ,Very rare to find a young lady on Twitter ini...,0,1,0,1,1,1,1,0,0,True
2903650,2020-03-28 06:58:36,EnterpriseLabUK,So excited to announce our response to in the...,0,1,0,0,1,0,1,1,0,True
2878240,2020-03-28 06:58:36,EggmanOrWalrus,Live updates: British Prime Minister Boris Joh...,1,1,1,1,0,1,1,0,0,True
2879837,"ተሸሸግ።"" ትንቢተ ኢሳይያስ 26:20 #Ethiopia #COVID19""",NaN,Ethiopia;COVID19,0,0,0,0,0,0,0,0,1,True

In [17]:
df = pd.read_csv('23_sentiment_date_sorted.csv', encoding='utf8', dtype=str, escapechar='\\',error_bad_lines=False,engine='python')
df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']] = df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']].apply(pd.to_numeric)
# df = df.groupby(['date'], as_index = False).sum()
df.to_csv('23_sentiment_date_sorted_merged.csv', mode='w', header=True, index=True, encoding='utf-8')

In [18]:
df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral,relevant
0,It's not that we'll mistake them for the trut...,NaN,Chernobyl;covid19,0,0,0,0,0,0,0,0,1.0,True
1,2020-02-07 06:13:29,hongkonghappyL,Dean of Medicine Gabriel Leung agreed with T...,0,0,0,0,0,0,0,1,0.0,True
2,2020-02-07 06:13:30,Shin__JH,The wuhan government did not take the virus s...,0,0,0,1,0,0,0,0,0.0,True
3,2020-02-07 06:13:32,ntemid,Please if you know any Members of Parliament...,0,0,0,0,0,0,0,0,1.0,True
4,2020-02-07 06:13:42,DeceitinDrugs,Under quarantine: what life will be like at C...,0,0,0,0,0,0,0,0,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260301,2020-03-28 06:58:36,RISENOIDA,Immediate need to send these people to the...,0,0,0,0,0,0,0,0,0.0,True
3260302,2020-03-28 06:58:36,AshabaEmmanuelJ,Very rare to find a young lady on Twitter ini...,0,1,0,1,1,1,1,0,0.0,True
3260303,2020-03-28 06:58:36,EnterpriseLabUK,So excited to announce our response to in the...,0,1,0,0,1,0,1,1,0.0,True
3260304,2020-03-28 06:58:36,EggmanOrWalrus,Live updates: British Prime Minister Boris Joh...,1,1,1,1,0,1,1,0,0.0,True
3260305,"ተሸሸግ።"" ትንቢተ ኢሳይያስ 26:20 #Ethiopia #COVID19""",NaN,Ethiopia;COVID19,0,0,0,0,0,0,0,0,1.0,True

In [19]:
df = df[df['date'].str.contains("2020-")]

In [20]:
df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral,relevant
1,2020-02-07 06:13:29,hongkonghappyL,Dean of Medicine Gabriel Leung agreed with T...,0,0,0,0,0,0,0,1,0.0,True
2,2020-02-07 06:13:30,Shin__JH,The wuhan government did not take the virus s...,0,0,0,1,0,0,0,0,0.0,True
3,2020-02-07 06:13:32,ntemid,Please if you know any Members of Parliament...,0,0,0,0,0,0,0,0,1.0,True
4,2020-02-07 06:13:42,DeceitinDrugs,Under quarantine: what life will be like at C...,0,0,0,0,0,0,0,0,1.0,True
5,2020-02-07 06:13:47,thejourneymate,If you are still running around without a ma...,0,0,0,1,0,1,0,0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260300,2020-03-28 06:58:36,Sujeet_Garade,Throw China out of UNSC. know everything ab...,0,0,0,0,0,0,0,0,1.0,True
3260301,2020-03-28 06:58:36,RISENOIDA,Immediate need to send these people to the...,0,0,0,0,0,0,0,0,0.0,True
3260302,2020-03-28 06:58:36,AshabaEmmanuelJ,Very rare to find a young lady on Twitter ini...,0,1,0,1,1,1,1,0,0.0,True
3260303,2020-03-28 06:58:36,EnterpriseLabUK,So excited to announce our response to in the...,0,1,0,0,1,0,1,1,0.0,True
3260304,2020-03-28 06:58:36,EggmanOrWalrus,Live updates: British Prime Minister Boris Joh...,1,1,1,1,0,1,1,0,0.0,True

In [21]:
def filterTime(row):
    row['date'] = row['date'].split(" ")[0]
    return row

df = df.apply(filterTime, axis=1)

In [22]:
df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral,relevant
1,2020-02-07,hongkonghappyL,Dean of Medicine Gabriel Leung agreed with T...,0,0,0,0,0,0,0,1,0.0,True
2,2020-02-07,Shin__JH,The wuhan government did not take the virus s...,0,0,0,1,0,0,0,0,0.0,True
3,2020-02-07,ntemid,Please if you know any Members of Parliament...,0,0,0,0,0,0,0,0,1.0,True
4,2020-02-07,DeceitinDrugs,Under quarantine: what life will be like at C...,0,0,0,0,0,0,0,0,1.0,True
5,2020-02-07,thejourneymate,If you are still running around without a ma...,0,0,0,1,0,1,0,0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260300,2020-03-28,Sujeet_Garade,Throw China out of UNSC. know everything ab...,0,0,0,0,0,0,0,0,1.0,True
3260301,2020-03-28,RISENOIDA,Immediate need to send these people to the...,0,0,0,0,0,0,0,0,0.0,True
3260302,2020-03-28,AshabaEmmanuelJ,Very rare to find a young lady on Twitter ini...,0,1,0,1,1,1,1,0,0.0,True
3260303,2020-03-28,EnterpriseLabUK,So excited to announce our response to in the...,0,1,0,0,1,0,1,1,0.0,True
3260304,2020-03-28,EggmanOrWalrus,Live updates: British Prime Minister Boris Joh...,1,1,1,1,0,1,1,0,0.0,True

In [23]:
df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']] = df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']].apply(pd.to_numeric)
df = df.groupby(['date'], as_index = False).sum()
df

,date,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
0,2020-02-07,547,855,390,1058,525,698,414,1118,1009.0
1,2020-02-08,5556,7053,3919,9604,3143,6630,3633,7401,14999.0
2,2020-02-09,5118,6432,3609,8481,2754,6008,3401,6554,11332.0
3,2020-02-10,6397,9029,4069,11477,3619,7330,3786,9137,18234.0
4,2020-02-11,9861,11628,7071,16726,4781,12414,5817,12749,23528.0
5,2020-02-12,491,788,354,939,482,683,397,958,972.0
6,2020-02-13,422,566,305,746,314,535,267,721,747.0
7,2020-02-14,142,220,104,289,120,199,100,291,235.0
8,2020-02-15,807,1185,527,1473,663,1022,531,1382,2098.0
9,2020-02-16,677,1012,485,1286,576,882,470,1273,1401.0
10,2020-02-17,879,1424,577,1730,746,1128,636,1646,1673.0
11,2020-02-18,989,1591,673,2008,766,1347,656,1918,1612.0
12,2020-02-19,1383,2004,959,2758,923,1877,921,2403,3464.0
13,2020-02-20,60,109,47,136,43,103,54,120,173.0
14,2020-02-21,86,144,54,187,70,131,64,187,239.0
15,2020-02-24,239,360,170,500,173,379,202,439,530.0
16,2020-02-25,13815,19849,8731,25245,9195,18019,9251,21131,38000.0
17,2020-02-26,5313,7428,3540,9492,3515,7029,3504,7947,13634.0
18,2020-02-27,9323,13427,5977,17353,6474,12589,5581,14865,22038.0
19,2020-02-28,14263,19071,9286,25998,10423,18616,8972,21802,32671.0
20,2020-02-29,15692,18929,12477,24432,8177,19609,10574,19212,32718.0
21,2020-03-01,15838,20615,11803,27587,9829,21079,10801,22563,37931.0
22,2020-03-02,18772,27051,13529,34369,13218,26132,13209,30487,48215.0
23,2020-03-03,21997,29714,15181,40439,15854,28997,15004,35059,58354.0
24,2020-03-04,9444,12757,6511,15245,6507,11200,6802,13404,22743.0
25,2020-03-05,5653,6980,4002,9135,3638,6820,3993,7354,13151.0
26,2020-03-07,15698,21329,11858,29631,11324,21075,10787,24290,44472.0
27,2020-03-08,3214,4458,2528,5840,2213,4389,2332,4639,8708.0
28,2020-03-09,18969,25357,12660,33867,13474,24035,12130,29474,45586.0
29,2020-03-10,9392,13761,6592,16775,7274,12223,6167,15763,24648.0
30,2020-03-11,2403,3667,1755,4369,2117,3252,1717,4511,5167.0
31,2020-03-13,12233,19162,8435,22660,11417,17507,9331,23440,38307.0
32,2020-03-14,13640,20624,9359,24284,12772,18434,9602,24355,41396.0
33,2020-03-15,18045,27840,11956,33370,17089,24545,11991,33222,54607.0
34,2020-03-16,21288,34827,13190,39380,20853,28056,14956,40931,67693.0
35,2020-03-17,14295,23192,8901,26214,13987,19047,9764,27512,44238.0
36,2020-03-18,23476,37341,14277,42468,23178,30963,16306,45446,69169.0
37,2020-03-19,21976,34428,13403,38647,21254,28246,14738,40891,64328.0
38,2020-03-20,23236,36904,14085,41402,23276,30020,15695,44364,71089.0
39,2020-03-21,21775,31316,12667,38144,21007,27048,14368,38979,61227.0
40,2020-03-22,23422,32950,13745,39562,21375,27677,14905,40099,63341.0
41,2020-03-23,10685,14764,6135,17803,9400,12337,6577,18156,27556.0
42,2020-03-24,23305,36065,13308,41426,23033,29442,15796,44491,66339.0
43,2020-03-25,23460,37215,13558,40499,24253,29380,16961,44845,68278.0
44,2020-03-26,19319,27799,10410,32565,17593,23200,12120,34312,49990.0
45,2020-03-27,20059,28045,11028,33892,17916,24199,12371,34719,52604.0
46,2020-03-28,7630,10473,4438,12503,6675,9117,4763,12614,20658.0

In [24]:
df.to_csv('23_sentiment_date_sorted_merged.csv', mode='w', header=True, index=False, encoding='utf-8')

In [ ]:
percent_df = df.divide(df.sum(axis=1),axis=0)
percent_df

In [15]:
percent_df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']] = percent_df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']].round(2)

In [16]:
percent_df

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
date,,,,,,,,,
2020-03-31,0.10,0.12,0.06,0.15,0.08,0.10,0.05,0.14,0.21
2020-04-01,0.09,0.12,0.05,0.14,0.08,0.10,0.05,0.15,0.23
2020-04-02,0.09,0.12,0.05,0.14,0.08,0.10,0.05,0.15,0.22
2020-04-04,0.09,0.12,0.05,0.15,0.06,0.11,0.05,0.14,0.22
2020-04-05,0.09,0.12,0.05,0.15,0.07,0.11,0.05,0.15,0.20
2020-04-06,0.08,0.12,0.05,0.15,0.08,0.10,0.06,0.17,0.20
2020-04-07,0.09,0.12,0.05,0.14,0.07,0.11,0.06,0.15,0.21
2020-04-08,0.09,0.12,0.05,0.14,0.07,0.11,0.05,0.15,0.21
2020-04-09,0.09,0.13,0.04,0.15,0.10,0.11,0.05,0.13,0.20
2020-04-10,0.09,0.12,0.05,0.15,0.08,0.11,0.06,0.15,0.21
2020-04-11,0.09,0.12,0.06,0.14,0.08,0.11,0.06,0.14,0.20
2020-04-12,0.09,0.12,0.05,0.13,0.07,0.10,0.06,0.14,0.22
2020-04-13,0.09,0.12,0.05,0.14,0.07,0.11,0.06,0.14,0.23
2020-04-14,0.10,0.12,0.05,0.14,0.07,0.10,0.04,0.16,0.22
2020-04-15,0.09,0.12,0.05,0.15,0.07,0.11,0.05,0.15,0.22
2020-04-16,0.09,0.12,0.05,0.14,0.08,0.10,0.05,0.15,0.22
2020-04-17,0.10,0.13,0.05,0.15,0.07,0.11,0.05,0.14,0.20
2020-04-18,0.09,0.12,0.05,0.13,0.07,0.10,0.05,0.15,0.24
2020-04-19,0.09,0.11,0.06,0.13,0.07,0.10,0.05,0.14,0.25
2020-04-20,0.09,0.11,0.06,0.14,0.07,0.11,0.05,0.15,0.23
2020-04-21,0.09,0.12,0.05,0.14,0.07,0.10,0.06,0.15,0.23
2020-04-22,0.09,0.12,0.05,0.14,0.07,0.11,0.06,0.14,0.22
2020-04-23,0.08,0.13,0.05,0.15,0.07,0.11,0.05,0.15,0.22
2020-04-24,0.09,0.12,0.05,0.14,0.07,0.10,0.06,0.15,0.22
2020-04-25,0.09,0.12,0.06,0.14,0.07,0.10,0.06,0.14,0.22
2020-04-26,0.09,0.11,0.06,0.14,0.07,0.11,0.05,0.14,0.24
2020-04-27,0.08,0.12,0.06,0.14,0.07,0.10,0.06,0.15,0.23
2020-04-28,0.08,0.12,0.06,0.14,0.07,0.10,0.06,0.15,0.23
2020-04-29,0.09,0.13,0.05,0.14,0.07,0.09,0.06,0.15,0.22
2020-04-30,0.09,0.13,0.05,0.14,0.07,0.10,0.06,0.15,0.21
2020-05-01,0.09,0.12,0.05,0.14,0.08,0.10,0.05,0.15,0.22