In [1]:
import pandas as pd
import csv

In [2]:
filename = 'corona/out_502.csv'
sentiment_out = 'corona/out_502_sentiment.csv'
sentiment_date_out = 'corona/out_502_sentiment_date.csv'
gordon_df = pd.read_csv(filename, encoding='utf8', dtype=str, escapechar='\\',error_bad_lines=False,engine='python',quoting=csv.QUOTE_NONE)
# gordon_df = gordon_df[:50000].copy()
gordon_df

,date,user,is_retweet,is_quote,text,quoted_text,lat,long,hts,mentions,tweet_id,likes,retweets,replies,quote_count,original_tweet_id
0,2020-05-01 08:56:31,hopenothate,True,False,"""RT @hopenothate: It is welcome news that Face...","""""",NaN,NaN,NaN,NaN,1256145466695319553,0,0,0,0,1256127232222822401
1,2020-05-01 08:56:31,AirunPad,False,False,"""B√© b√© b√©.... Estem aprenent moltes coses du...","""""",NaN,NaN,NaN,NaN,1256145465894199299,0,0,0,0,NaN
2,2020-05-01 08:56:31,micnogent,True,True,"""RT @annielahmer: Drogue ? Consanguinit√© ? Alc...","""Nous famille Ackermann #StopConfinement parce...",NaN,NaN,NaN,NaN,1256145466703720448,0,0,0,0,1256132734562512898
3,2020-05-01 08:56:32,ver7t,True,False,"""RT @BaselConnect: https://t.co/Ge2QeANIzE""","""""",NaN,NaN,NaN,NaN,1256145466888241152,0,0,0,0,1256144372179107840
4,2020-05-01 08:56:32,roottool,True,False,"""RT @Kantei_Saigai: „Äê„ÅäÁü•„Çâ„Åõ„ÄëÁâπÂà•ÂÆöÈ°çÁµ¶‰ªòÈáë„Å´Èñ¢„Åô„Çã„ÅîÊ°àÂÜÖ„ÇíÊé≤Ëºâ„Åó„Åæ„Åó...","""""",NaN,NaN,NaN,NaN,1256145467051659265,0,0,0,0,1256006643285819392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500023,2020-05-01 11:44:00,_ArriveAlive,True,False,"""RT @TruckAndFreight: Truck Driver's Story: ""I...","""""",NaN,NaN,NaN,NaN,1256187615017086977,0,0,0,0,1256187514823589888
500024,2020-05-01 11:44:00,amandafmoe,True,False,"""RT @RexChapman: Shut it all down. The staff...","""""",NaN,NaN,NaN,NaN,1256187615113629696,0,0,0,0,1256064007418585089
500025,2020-05-01 11:44:00,AmolLakras,True,True,"""RT @Shail2108: Sir Leaders &amp; Visionaries...","""‚ÄúIt‚Äôs an opportune time for Indian startups t...",NaN,NaN,NaN,NaN,1256187615101026306,0,0,0,0,1256107585482010624
500026,2020-05-01 11:44:00,Wayisee,True,False,"""RT @RichardBurgon: The UK has had more Corona...","""""",NaN,NaN,NaN,NaN,1256187615197396995,0,0,0,0,1256184006741241857
500027,2020-05-01 11:44:00,kengoodall,True,True,"""RT @TeaPainUSA: It‚Äôs unanimous. Trump sucks....","""Poll: Americans in all 50 states say their go...",NaN,NaN,NaN,NaN,1256187615138795520,0,0,0,0,1256045794156822531

In [3]:
gordon_df = gordon_df.sample(frac=0.25)

In [4]:
gordon_df = gordon_df[['date', 'user','text']].copy()
gordon_df

,date,user,text
14544,2020-05-01 09:01:26,Mbhoy1,"""RT @StrongerStabler: ""We have so far succeede..."
335359,2020-05-01 10:49:05,luiginamoscuzza,"""RT @EFEnoticias: üî¥üì° R.p. tras la reuni√≥n del ..."
382831,2020-05-01 11:04:55,KirkshawsPS,"""RT @SocSecScot: Have you applied for benefits..."
175141,2020-05-01 09:55:30,bfsinews,"""RT @dipaksamanta: #COVID19 and Pune : except ..."
356541,2020-05-01 10:56:09,CSatyarthi,"""Share to save lives Financial Assistance for ..."
...,...,...,...
276318,2020-05-01 10:29:23,PuneZp,"""#PuneFightsCorona #WarAgainstVirus"""
415091,2020-05-01 11:15:41,LeXavTwit,"""Spanish official apologises for spraying beac..."
125755,2020-05-01 09:38:53,KongKongKong16,"""RT @guardian: Armed protesters enter Michigan..."
255973,2020-05-01 10:22:34,aaaaa67763912,"""RT @NewsDigestWeb: „ÄêÁ¶èÂ≤°Áúå„ÅÆÊÑüÊüìËÄÖÊé®Áßª„Äë ‚Äª1Êó•Áô∫Ë°®„ÅÆÂåó‰πùÂ∑ûÂ∏ÇÂÜÖ„ÅÆP..."
99447,2020-05-01 09:30:03,TheAfrican12,"""RT @FrankMtetezi: So who thought that AFRICA ..."

In [5]:
def filterUrl(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'^RT @\w+:'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterUrl2(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'@\w+'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterUrl3(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'#\w+'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterUrl4(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterUrl5(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'^"'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterUrl6(df):
    import time
    time_start = time.time()
    print("  -> filterUrl()", end='')
    
    url_regex = r'"$'
    df['text'] = df['text'].str.replace(url_regex, '').astype(str)
    
    processed = len(df.index)
    time = time.time() - time_start
    print(" - Processed: {:,} | Time: {:,.3f} sec".format(processed, time))
    
    return df

def filterDuplicate(df):
    import time
    time_start = time.time()
    print("  -> filterDuplicate()", end='')
    
    remove = df.duplicated(keep='first')
    result = df[~remove]
    
#     print("Removed: {} \n".format(df[remove].head()))
    
    processed = len(df.index)
    skipped = processed - len(result.index)
    skipped_percentage = skipped / processed * 100
    
    time = time.time() - time_start
    print(" - Processed: {:,} | Skipped: {:,} ({:.2f}%) | Time: {:,.3f} sec".format(processed, skipped, skipped_percentage, time))
    
    return result


import demoji

def checkNonEngAndEmoji(row):
    text = row['text']
    text_emoji = demoji.replace(text, '')
    row['text'] = text_emoji
        
    return row

In [6]:
gordon_df = filterDuplicate(gordon_df).copy()
gordon_df = filterUrl5(gordon_df)
gordon_df = filterUrl6(gordon_df)
gordon_df = filterUrl(gordon_df)
gordon_df = filterUrl2(gordon_df)
gordon_df = filterUrl3(gordon_df)
gordon_df = filterUrl4(gordon_df)
gordon_df = gordon_df.apply(checkNonEngAndEmoji, axis=1)
gordon_df

  -> filterDuplicate() - Processed: 125,007 | Skipped: 22 (0.02%) | Time: 0.287 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.560 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.290 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.454 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.267 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.263 sec
  -> filterUrl() - Processed: 124,985 | Time: 0.287 sec

,date,user,text
14544,2020-05-01 09:01:26,Mbhoy1,"""We have so far succeeded - in the first &amp..."
335359,2020-05-01 10:49:05,luiginamoscuzza,R.p. tras la reuni√≥n del Comit√© de Gesti√≥n T...
382831,2020-05-01 11:04:55,KirkshawsPS,Have you applied for benefits from the DWP or...
175141,2020-05-01 09:55:30,bfsinews,and Pune : except 5 wards rest of the to o...
356541,2020-05-01 10:56:09,CSatyarthi,Share to save lives Financial Assistance for C...
...,...,...,...
276318,2020-05-01 10:29:23,PuneZp,
415091,2020-05-01 11:15:41,LeXavTwit,Spanish official apologises for spraying beach...
125755,2020-05-01 09:38:53,KongKongKong16,Armed protesters enter Michigan's state capit...
255973,2020-05-01 10:22:34,aaaaa67763912,„ÄêÁ¶èÂ≤°Áúå„ÅÆÊÑüÊüìËÄÖÊé®Áßª„Äë ‚Äª1Êó•Áô∫Ë°®„ÅÆÂåó‰πùÂ∑ûÂ∏ÇÂÜÖ„ÅÆPCRÊ§úÊüªÁµêÊûú„ÅØ44‰ª∂ÂÖ®„Å¶Èô∞ÊÄß Ë©≥Á¥∞„ÅØ...
99447,2020-05-01 09:30:03,TheAfrican12,So who thought that AFRICA can also give a so...

In [7]:
# from langdetect import detect
import langid

def checklang(row):
    re = langid.classify(row['text'])[0]
    if(re == "en"):
        row['is_eng'] = 'True'
    else:
        row['is_eng'] = 'False'
        
    return row


def filtereng(df):
    import time
    time_start = time.time()
    print("  -> filter_eng()", end='')
    
    df['is_eng'] = 'False'
    
    df = df.apply(checklang, axis=1)
    
    #remove = df.with_sentiment.isin(['False'])
    #result = df[~remove]
    result = df
    
    processed = len(df.index)
    skipped = processed - len(result.index)
    skipped_percentage = skipped / processed * 100
    time_used = time.time() - time_start
    print(" - Processed: {:,} | Non-Eng Skipped: {:,} ({:.2f}%) | Time: {:,.3f} sec".format(processed, skipped, skipped_percentage, time_used))
    
    return result

In [8]:
gordon_df = filtereng(gordon_df)
gordon_df = gordon_df[gordon_df['is_eng'] == 'True']
gordon_df = gordon_df.drop('is_eng',axis=1)
gordon_df

  -> filter_eng() - Processed: 124,985 | Non-Eng Skipped: 0 (0.00%) | Time: 461.829 sec

,date,user,text
14544,2020-05-01 09:01:26,Mbhoy1,"""We have so far succeeded - in the first &amp..."
382831,2020-05-01 11:04:55,KirkshawsPS,Have you applied for benefits from the DWP or...
175141,2020-05-01 09:55:30,bfsinews,and Pune : except 5 wards rest of the to o...
356541,2020-05-01 10:56:09,CSatyarthi,Share to save lives Financial Assistance for C...
173806,2020-05-01 09:55:03,dailytradingapp,Zoom Corrects Blog Saying It Had 300 M Daily...
...,...,...,...
338585,2020-05-01 10:50:10,sanode2k,Sweden has defied conventional wisdom and ref...
276318,2020-05-01 10:29:23,PuneZp,
415091,2020-05-01 11:15:41,LeXavTwit,Spanish official apologises for spraying beach...
125755,2020-05-01 09:38:53,KongKongKong16,Armed protesters enter Michigan's state capit...
99447,2020-05-01 09:30:03,TheAfrican12,So who thought that AFRICA can also give a so...

In [9]:
gordon_df = gordon_df[gordon_df['text'].str.len() > 5].copy()
gordon_df

,date,user,text
14544,2020-05-01 09:01:26,Mbhoy1,"""We have so far succeeded - in the first &amp..."
382831,2020-05-01 11:04:55,KirkshawsPS,Have you applied for benefits from the DWP or...
175141,2020-05-01 09:55:30,bfsinews,and Pune : except 5 wards rest of the to o...
356541,2020-05-01 10:56:09,CSatyarthi,Share to save lives Financial Assistance for C...
173806,2020-05-01 09:55:03,dailytradingapp,Zoom Corrects Blog Saying It Had 300 M Daily...
...,...,...,...
83682,2020-05-01 09:24:45,EmilyKerrITV,An emotional at ambulance station tonight a...
338585,2020-05-01 10:50:10,sanode2k,Sweden has defied conventional wisdom and ref...
415091,2020-05-01 11:15:41,LeXavTwit,Spanish official apologises for spraying beach...
125755,2020-05-01 09:38:53,KongKongKong16,Armed protesters enter Michigan's state capit...
99447,2020-05-01 09:30:03,TheAfrican12,So who thought that AFRICA can also give a so...

In [10]:
gordon_df = gordon_df[gordon_df['text'].str.isspace() == False].copy()
gordon_df

,date,user,text
14544,2020-05-01 09:01:26,Mbhoy1,"""We have so far succeeded - in the first &amp..."
382831,2020-05-01 11:04:55,KirkshawsPS,Have you applied for benefits from the DWP or...
175141,2020-05-01 09:55:30,bfsinews,and Pune : except 5 wards rest of the to o...
356541,2020-05-01 10:56:09,CSatyarthi,Share to save lives Financial Assistance for C...
173806,2020-05-01 09:55:03,dailytradingapp,Zoom Corrects Blog Saying It Had 300 M Daily...
...,...,...,...
83682,2020-05-01 09:24:45,EmilyKerrITV,An emotional at ambulance station tonight a...
338585,2020-05-01 10:50:10,sanode2k,Sweden has defied conventional wisdom and ref...
415091,2020-05-01 11:15:41,LeXavTwit,Spanish official apologises for spraying beach...
125755,2020-05-01 09:38:53,KongKongKong16,Armed protesters enter Michigan's state capit...
99447,2020-05-01 09:30:03,TheAfrican12,So who thought that AFRICA can also give a so...

In [11]:
# for i in gordon_df.index:
#     print(gordon_df.iloc[i]['text'])

In [12]:
from torchtext import *
from torchtext.data import *
from torch.utils.data import DataLoader

import nltk
nltk.download('punkt')
from nltk import word_tokenize

import torch
import torch.nn as nn
import torch.optim as optim

import time
import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
# emotions_list = ['Joy', 'Trust', 'Fear', 'Surprise', 'Sadness', 'Disgust', 'Anger', 'Anticipation', 'Neutral']
emotions_list = ['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']

In [14]:
# 5.3.1
txt_field = data.Field(tokenize=word_tokenize, lower=True, include_lengths=True, batch_first=True)
label_field = data.Field(sequential=False, use_vocab=False, batch_first=True)

# dataset_fields = [('text', txt_field), ('Joy', label_field), 
#                 ('Trust', label_field), ('Fear', label_field), ('Surprise', label_field), 
#                 ('Sadness', label_field), ('Disgust', label_field), ('Anger', label_field), 
#                 ('Anticipation', label_field), ('Neutral', label_field)]

dataset_fields = [('text', txt_field), ('anger', label_field), 
                ('anticipation', label_field), ('disgust', label_field), ('fear', label_field), 
                ('joy', label_field), ('sadness', label_field), ('surprise', label_field), 
                ('trust', label_field), ('neutral', label_field)]


# train, test= TabularDataset.splits(path='./', train='train.csv', test='valid.csv', format='csv', 
#     fields = dataset_fields, skip_header=True)

train, test= TabularDataset.splits(path='./', train='train-80000.csv', test='valid-80000.csv', format='csv', 
    fields = dataset_fields, skip_header=True)


label_field.build_vocab(train)
txt_field.build_vocab(train,vectors=vocab.Vectors("glove.840B.300d.txt"),max_size=20000)

device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')

train_iter, test_iter = data.BucketIterator.splits((train, test), batch_size=32, sort_key=lambda x: len(x.text), sort_within_batch=True, device=device)

In [15]:
class BatchWrapper:
    def __init__(self, dl, x_var, y_vars):
        self.dl, self.x_var, self.y_vars = dl, x_var, y_vars # ‰º†ÂÖ•Ëá™ÂèòÈáèxÂàóË°®ÂíåÂõ†ÂèòÈáèyÂàóË°®

    def __iter__(self):
        for batch in self.dl:
            x = getattr(batch, self.x_var) # Âú®Ëøô‰∏™Â∞ÅË£Ö‰∏≠Âè™Êúâ‰∏Ä‰∏™Ëá™ÂèòÈáè

            if self.y_vars is not None: # ÊääÊâÄÊúâÂõ†ÂèòÈáècatÊàê‰∏Ä‰∏™ÂêëÈáè
                temp = [getattr(batch, feat).unsqueeze(1) for feat in self.y_vars]
                y = torch.cat(temp, dim=1).float()
            else:
                y = torch.zeros((1))

            yield (x, y)

    def __len__(self):
        return len(self.dl)

train_dl = BatchWrapper(train_iter, "text", emotions_list)
test_dl = BatchWrapper(test_iter, "text", emotions_list)

In [16]:
input_dim = len(txt_field.vocab)
embedding_dim = 64
hidden_dim = 128
output_dim = 9
dropout = 0.5
input_dim

20002

In [17]:
class LSTM(nn.Module):
    def __init__(self, input_dim, embedding_dim, hidden_dim, output_dim, dropout):
        super().__init__()
        self.embedding = nn.Embedding(input_dim, embedding_dim)
        self.rnn = nn.LSTM(
            input_size=embedding_dim,
            hidden_size=hidden_dim,
            batch_first=True
        )
        self.dropout = nn.Dropout(dropout)
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, text, text_len):
        embedded = self.embedding(text)
        output, (last_hidden_state, last_cell_state) = self.rnn(embedded)
        linear_input = last_hidden_state[-1]
        return self.fc(self.dropout(linear_input))

In [18]:
def count_parameters(model):
    temp = sum(p.numel() for p in model.parameters() if p.requires_grad)
    print(f'The model architecture:\n\n', model)
    print(f'\nThe model has {temp:,} trainable parameters')

model = LSTM(input_dim, embedding_dim, hidden_dim, output_dim, dropout)

In [19]:
count_parameters(model)

The model architecture:

 LSTM(
  (embedding): Embedding(20002, 64)
  (rnn): LSTM(64, 128, batch_first=True)
  (dropout): Dropout(p=0.5, inplace=False)
  (fc): Linear(in_features=128, out_features=9, bias=True)
)

The model has 1,380,617 trainable parameters

In [20]:
def test_accuracy(tensor, y):
    preds = torch.round(torch.sigmoid(tensor))
    correct = (preds == y).float()
    return correct.sum() / len(correct) * 100


def save_checkpoint(save_path, model, optimizer, val_loss):
    if save_path==None:
        return
    save_path = save_path 
    state_dict = {'model_state_dict': model.state_dict(),
                  'optimizer_state_dict': optimizer.state_dict(),
                  'val_loss': val_loss}
    torch.save(state_dict, save_path)
    print(f'Model saved to ==> {save_path}')


def load_checkpoint(model, optimizer, save_path):
    state_dict = torch.load(save_path)
    model.load_state_dict(state_dict['model_state_dict'])
    optimizer.load_state_dict(state_dict['optimizer_state_dict'])
    val_loss = state_dict['val_loss']
    print(f'Model loaded from <== {save_path}')
    return val_loss


def TRAIN(net, train_iter, valid_iter, num_epochs, eval_every, total_step, criterion, optimizer, val_loss, device, save_name):
    
    running_loss = 0.0
    running_corrects = 0
    running_num = 0
    global_step = 0
    train_loss = []
    valid_loss = []
    count = []
    if val_loss==None:
        best_val_loss = float("Inf")  
    else: 
        best_val_loss=val_loss

    since = time.time()
    for epoch in range(num_epochs):  # loop over the dataset multiple times
        
        for batch in train_iter: ## batch is ((text, text_len_array), 2d_labels), text_len_array hv all same value thx to BucketIterator
            
            net.train()

            '''Training of the model'''
            # Forward pass
            text = batch[0][0] 
            text_len = batch[0][1][0].item()
            label = batch[1]
            
            outputs = net(text, text_len).squeeze(1)
            loss = criterion(outputs, label)

            # Backward and optimize
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()
            global_step += 1

            running_loss += loss.item()

            '''Evaluating the model every x steps'''
            if global_step % eval_every == 0:
                with torch.no_grad():
                    net.eval()
                    val_running_loss = 0.0
                    for val_batch in valid_iter:
                        val_text = val_batch[0][0]
                        val_text_len = val_batch[0][1][0].item()
                        val_label = val_batch[1]
                        
                        val_outputs = net(val_text, val_text_len).squeeze(1)
                        val_loss = criterion(val_outputs, val_label)
                        val_running_loss += val_loss.item()

                    average_train_loss = running_loss / eval_every
                    average_val_loss = val_running_loss / len(valid_iter)
                    train_loss.append(average_train_loss)
                    valid_loss.append(average_val_loss)
                    count.append(global_step)

                    print('Epoch [{}/{}], Step [{}/{}], Train Loss: {:.4f}, Valid Loss: {:.4f}'
                          .format(epoch+1, num_epochs, global_step, total_step, average_train_loss, average_val_loss))

                    running_loss = 0.0
                    
                    if average_val_loss < best_val_loss:
                        best_val_loss = average_val_loss
                        save_checkpoint(save_name, net, optimizer, best_val_loss)

    print('Finished Training, training time: %.4f' % (time.time() - since))

    print('training loss: %.4f\nvalidation loss: %.4f' % (train_loss[-1], valid_loss[-1]))
    plot_x = count
    p1, = plt.plot(plot_x, train_loss, color='red', linewidth=1, label='training loss')
    p2, = plt.plot(plot_x, valid_loss,  color='blue', linewidth=1, label='validation loss')
    plt.legend(handles=[p1, p2], loc='center left', bbox_to_anchor=(1, 0.5))
    plt.ylabel('loss')
    plt.xlabel('number of evaluation')
    plt.title('loss over number of evaluation')
    plt.show()

    return train_loss, valid_loss


def eval(model, iterator):
    
    epoch_acc = 0
    model.eval()
    with torch.no_grad():
        for batch in iterator:
            text = batch[0][0]
            text_len = batch[0][1][0].item()
            label = batch[1]

            outputs = model(text, text_len).squeeze(1)
            acc = test_accuracy(outputs, label) / 9

            epoch_acc += acc.item()

    avg_acc = epoch_acc / len(iterator)
    print(f'Test accuracy: {avg_acc}%')

In [21]:
model = LSTM(input_dim, embedding_dim, hidden_dim, output_dim, dropout).to(device)
optimizer = optim.Adam(model.parameters())
criterion = nn.BCEWithLogitsLoss().to(device)
num_epochs = 15
eval_every = 1000
total_step = len(train_iter)*num_epochs
best_val_loss = None
save_path = f'tweet_net.pt'

# train_loss, valid_loss = TRAIN(model, train_dl, test_dl, num_epochs, eval_every, total_step, criterion, optimizer, 
#       best_val_loss, device, save_path)

#eval(model2, test_iter)

In [22]:
load_checkpoint(model, optimizer, f'tweet_net.pt')

Model loaded from <== tweet_net.pt

0.18419405172020198

In [23]:
import pandas as pd
# gordon_df = pd.read_csv('onlyengandsentimenttotext.csv', encoding='utf8', dtype=str, escapechar='\\')


def predict_sentence_sentiment(model, sentence):
    model.eval()
    tokenized = word_tokenize(sentence)
    indexed = [txt_field.vocab.stoi[t] for t in tokenized]
    length = [len(indexed)]
    tensor = torch.LongTensor(indexed)
    tensor = tensor.unsqueeze(0)
    length_tensor = torch.LongTensor(length)
    output = model(tensor.to(device), length_tensor)
    prediction = torch.round(torch.sigmoid(output)).int()
    return prediction.cpu().numpy()[0]

def predict_sentiment(row):
    row[emotions_list] = predict_sentence_sentiment(model, row['text'])
    return row

for e in emotions_list:
    gordon_df[e] = 0
gordon_df = gordon_df.apply(predict_sentiment, axis=1)
gordon_df.to_csv(sentiment_out, header=True, index=False, encoding='utf-8')

In [24]:
gordon_df.date = gordon_df.date.astype(str)

In [25]:
def filterTime(row):
    row['date'] = row['date'].split(" ")[0]
    return row

gordon2_df = gordon_df.apply(filterTime, axis=1)
gordon2_df

,date,user,text,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
14544,2020-05-01,Mbhoy1,"""We have so far succeeded - in the first &amp...",0,0,0,1,0,1,0,1,0
382831,2020-05-01,KirkshawsPS,Have you applied for benefits from the DWP or...,0,0,0,0,0,1,0,0,0
175141,2020-05-01,bfsinews,and Pune : except 5 wards rest of the to o...,0,0,0,0,0,1,0,0,0
356541,2020-05-01,CSatyarthi,Share to save lives Financial Assistance for C...,0,0,0,0,1,0,0,1,0
173806,2020-05-01,dailytradingapp,Zoom Corrects Blog Saying It Had 300 M Daily...,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
83682,2020-05-01,EmilyKerrITV,An emotional at ambulance station tonight a...,0,0,0,0,0,0,0,0,1
338585,2020-05-01,sanode2k,Sweden has defied conventional wisdom and ref...,0,0,0,0,0,1,0,1,0
415091,2020-05-01,LeXavTwit,Spanish official apologises for spraying beach...,0,0,0,0,0,0,0,1,0
125755,2020-05-01,KongKongKong16,Armed protesters enter Michigan's state capit...,0,0,0,0,0,0,0,0,1
99447,2020-05-01,TheAfrican12,So who thought that AFRICA can also give a so...,0,1,0,0,0,0,0,0,0

In [26]:
arr = ['date','anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'neutral']
gordon3_df = gordon2_df[arr].groupby('date').sum()
gordon3_df

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
date,,,,,,,,,
#COVID19,0,0,0,0,0,0,0,0,1
2020-05-01,11692,16446,6145,18719,10270,13544,7060,19456,28057

In [27]:
gordon3_df.to_csv(sentiment_date_out, header=True, index=True, encoding='utf-8')

In [28]:
gordon4_df = gordon3_df.divide(gordon3_df.sum(axis=1),axis=0)
gordon4_df

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,neutral
date,,,,,,,,,
#COVID19,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000
2020-05-01,0.088988,0.12517,0.04677,0.14247,0.078165,0.103083,0.053734,0.148079,0.213541